<% client_side_resources :latest_settings_form %>

<form method="POST"><%= form_csrf_token %>

<p><label><%= @locale.text(:Latest_View_Send_emails_) %></label><br>
  <select name="when" id="z__when_select"><%= options_for_select(
    [
      [T(:Latest_Never), UserData::Latest::SCHEDULE_NEVER.to_s],
      [T(:Latest_Daily), UserData::Latest::SCHEDULE_DAILY.to_s],
      [T(:Latest_Weekly), UserData::Latest::SCHEDULE_WEEKLY.to_s],
      [T(:Latest_Monthly), UserData::Latest::SCHEDULE_MONTHLY.to_s]
    ],
    @latest_settings_when.to_s
  ) %></select>
  <span id="when0"<%= latest_hide_when_opts(0) %>><%= @locale.text(:Latest_View__no_emails_will_be_sent_) %></span>
  <span id="when1"<%= latest_hide_when_opts(1) %>>
    <%= @locale.text(:Latest_Working_Days1) %> <input type="checkbox" name="workdays_only"<% if @latest_settings_workdays_only != 0 %> checked<% end %>> <%= @locale.text(:Latest_Working_Days2) %>
  </span>
  <span id="when2"<%= latest_hide_when_opts(2) %>>
    <%= @locale.text(:Latest_Weekly_On) %> <select name="day_of_week"><%= options_for_select(
        [
          [T(:Latest_Sunday),'0'],
          [T(:Latest_Monday),'1'],
          [T(:Latest_Tuesday),'2'],
          [T(:Latest_Wednesday),'3'],
          [T(:Latest_Thursday),'4'],
          [T(:Latest_Friday),'5'],
          [T(:Latest_Saturday),'6']
        ],
        @latest_settings_day_of_week.to_s
    ) %></select>
  </span>
  <span id="when3"<%= latest_hide_when_opts(3) %>>
    <%= @locale.text(:Latest_Day_Of_Month1) %> <select name="day_of_month"><%= options_for_select(
        (1..31).to_a.map {|v|v.to_s},
        @latest_settings_day_of_month.to_s
    ) %></select> <%= @locale.text(:Latest_Day_Of_Month2) %>
  </span>
</p>

<p><label><%= @locale.text(:Latest_View_Email_format_) %></label><br>
  <select name="format" id="z__email_format"<% if @latest_settings_when == UserData::Latest::SCHEDULE_NEVER %> disabled<% end %>><%= options_for_select([
    [T(:Latest_Plain), UserData::Latest::FORMAT_PLAIN],
    [T(:Latest_Formatted), UserData::Latest::FORMAT_HTML]
  ], @latest_settings_format) %></select>
</p>

<p><input type="submit" value="<%= @locale.text(:Latest_View_Save_settings) %>"></p>

</form>
