<%
  @page_title = 'Edit '+@email_template.name
-%>

<%= sys_mng_header %>

<%= form_error_messages_for(@transfer) %>

<form method="POST" id="z__template_form"><%= form_csrf_token %>
  <%= render(:partial => 'form') %>
  <input type="submit" value="Save changes">
</form>

<%= render :partial => 'preview' %>
