<table class="z__mangement_kv_table">
  <tr>
    <th>Service Provider</th>
  </tr>
  <tr>
    <th>Identifier</th>
    <td>https://<%= h(data_for_template[:hostname]) %>/do/saml2-sp/<%= h(data_for_template[:credential].name) %>/metadata</td>
  </tr>
  <tr>
    <th>Reply URL</th>
    <td>https://<%= h(data_for_template[:hostname]) %>/do/saml2-sp/<%= h(data_for_template[:credential].name) %>/assertion-consumer-service</td>
  </tr>
  <tr>
    <th></th>
    <td><a href="/do/setup/saml2/config-with-metadata-url/<%= data_for_template[:credential].id %>">Configure for IdP using metadata URL...</a></td>
  </tr>
</table>

<p>&nbsp;</p>
