<%
  @page_title = 'Plugin console'
%>

<h1><%= @page_title %></h1>

<p>This page shows diagnostic information from plugins to assist developers.</p>

<style type="text/css">
.plugin_logs { margin: 8px 12px; }
.plugin_logs dt { font-style:italic;; }
.plugin_logs dd {
  margin-top: 4px;
  margin-bottom: 12px;
}
</style>

<dl class="plugin_logs">
<%
  @log.each do |entry|
    time, level, plugin, text = entry.split(/\t/, 4)
    %><dt><%= h(time) %> : <%= h(level) %> : <%= h(plugin) %></dt><dd><%= h(text) %></dd><%
  end
%>
</dl>

<p>Entries displayed: <%= @log.length %></p>
<p>&nbsp;</p>

<form method="GET" action="?x=<%= Time.now.to_i %>">
  <input type="submit" value="Refresh">
</form>
