<!DOCTYPE html>
<html lang="<%= @locale.locale_id %>">
<head><title>PDF Preview</title></head>
<body>
<%
  transform = "preview/png/l"
  transform << "/p#{@current_page}" if @current_page != 1
  # URL should be signed if the main preview URL was signed
  url_path = file_url_path(@stored_file, transform, @is_signed_file_url ? {:sign_with => session} : nil)
  sig_arg = @is_signed_file_url ? h("&s=#{params['s'.freeze]}") : nil
%>
<p style="text-align:center;font-size:12px;font-family: verdana, sans-serif;margin:4px 0 16px 0;padding:2px 0;background:#eee"><% if @current_page == 1 %><span style="color:#888">&lt; <%= @locale.text(:File_View_previous) %></span><% else %><a href="?page=<%= @current_page - 1 %><%= sig_arg %>">&lt; <%= @locale.text(:File_View_previous) %></a><% end %> &nbsp; <i><%= @current_page %> / <%= @pages %></i> &nbsp; <% if @current_page == @pages %><span style="color:#888"><%= @locale.text(:File_View_next) %> &gt;</span><% else %><a href="?page=<%= @current_page + 1 %><%= sig_arg %>"><%= @locale.text(:File_View_next) %> &gt;</a><% end %></p>
<p style="text-align:center"><img style="border:1px solid #ddd" src="<%= url_path %>"></p>
</body>
</html>
