<%
  # There might be a search spec passed in for the template
  spec = data_for_template || {}

  client_side_resources(:search)
    
  show_advanced = false
  # Check search subsets
  selected_subset = spec[:subset]
  if selected_subset != nil
    subsets = subsets_for_current_user
    if !subsets.empty? && subsets.first.objref != selected_subset
      show_advanced = true
    end
  end
  # Check fields
  show_advanced = true if spec.has_key?(:f)
  # TODO: More elegant and non-temporary way of showing search by fields by default
  always_show_fields = false
  unless show_advanced
    always_show_fields = true if @_temp_search_always_show_fields
  end
%>
<!-- cellspacing="0" required for it to look OK in IE6 and IE7 -->
<table class="z__search_box_container" cellspacing="0"><tr class="z__search_form_query_row"><td class="z__search_form_query_input">
<input type="text" name="q" id="z__search_query_id" class="z__focus_candidate" autocomplete="off" value="<%=h(spec[:q])%>">
<% if spec.has_key?(:f) %><input type="hidden" id="z__search_encoded_form_fields_id" name="f" value="<%= h(spec[:f]) %>"><% end %>
</td><td class="z__search_form_submit_button">
<input type="submit" value="<%= @locale.text(:Search_View_Search) %>">
</td></tr></table>

<div id="z__search_form_advanced_container"<% unless show_advanced %> style="display:none"<% end %>>

  <div id="z__search_form_advanced_container_fields">
    <%
      if spec.has_key?(:f)
        # Fields search - display some text to summarise the query
        fields_summary = search_by_fields_obj_to_summary(spec[:f_obj])
        %><div class="z__search_form_fields_text_display_holder"><a href="#" id="z__search_form_fields_text_display"><div><%= @locale.text(:Search_View_edit) %></div><%= fields_summary %></a></div><%
      elsif show_advanced
        # Need a placeholder for the case where no fields are used, but the subset is non-default
        %><div class="z__search_form_fields_text_display_holder"><a href="#" id="z__search_form_fields_text_display"><span><i><%= @locale.text(:Search_View_show_fields) %></i></span></a></div><%
      end
    %>
  </div>

  <div id="z__search_form_advanced_container_constraints">
    <a id="z__search_tips_button" href="#"><%= @locale.text(:Search_View_search_tips) %></a>
    <%= render(:partial => 'search/offer_subsets') %>
  </div>

</div>

<div id="z__search_form_advanced_toggle_holder"><a href="#" id="z__search_form_advanced_toggle"<% if always_show_fields %> data-show-fields="1"<% end %><% if show_advanced %> class="z__search_form_advanced_toggle_disabled"<% end %>><%= @locale.text(:Search_View_Fields___options) %></a></div>
<div id="z__search_form_explaination_holder"></div>
