<%
  @page_title = T(:Search_Title_Search_tips)
  @minimal_layout_no_cancel = true
%>

<table style="width:450px">
  <tr><%= @locale.text(:Search_View__Truncation__survi___finds_survivor___) %>/tr>
  <tr><%= @locale.text(:Search_View__Or__caravan_or_campervan__finds___) %></tr>
  <tr><%= @locale.text(:Search_View__Proximity__client__10_proposal___) %></tr>
  <tr><%= @locale.text(:Search_View__Field__title_Business_Plan__finds___) %></tr>
</table>

<p>&nbsp;</p>
<p><%= @locale.text(:Search_View_Not_finding_anything_) %></p>

<ul>
  <li><%= @locale.text(:Search_View_If_you_ve_used_abbreviations__try_the___) %></li>
  <li><%= @locale.text(:Search_View_Check_you_ve_spelled_everything___) %></li>
  <li><%= @locale.text(:Search_View_Less_specific_queries_with_fewer___) %></li>
</ul>
