<%
  if @search_string == nil
    @page_title = ((@showing_users) ? 'Users' : 'Groups')
  else
    @page_title = 'Searching' + ((@showing_users) ? ' users' : ' groups')
  end  
  
  selector = if @showing_users
    [
      [User::KIND_USER, 'ACTIVE', "list?kind=#{User::KIND_USER}"],
      [User::KIND_SERVICE_USER, 'SRV', "list?kind=#{User::KIND_SERVICE_USER}"],
      [User::KIND_USER_BLOCKED, 'BLOCKED', "list?kind=#{User::KIND_USER_BLOCKED}"],
      [User::KIND_USER_DELETED, 'DELETED', "list?kind=#{User::KIND_USER_DELETED}"]
    ]
  else
    [
      [User::KIND_GROUP, 'ACTIVE', "list?kind=#{User::KIND_GROUP}"],
      [User::KIND_GROUP_DISABLED, 'DISABLED', "list?kind=#{User::KIND_GROUP_DISABLED}"]
    ]
  end
  
  select_user = params[:select].to_i
  
  # Use a different action for groups to allow section of help pages
  show_action = @showing_users ? 'show' : 'group'
-%>

<% if select_user != 0 %>
  <div id="k__workspace_url" data-url="/do/admin/user/<%= show_action %>/<%= select_user %>"></div>
<% end %>

<%= sys_mng_header %>

<%= sys_mng_selector(@kind, selector) %>

<!--
<form method="GET">
<input type="hidden" name="kind" value="<%= @kind %>">
<input type=text name="search" value="<%= h(@search_string) %>"> <input type=submit value="Search">
</form>
-->

<ul>
<% @users.each do |user| -%>
  <li><a href="/do/admin/user/<%= show_action %>/<%= user.id %>" target="workspace"<% if select_user == user.id %> class="z__selected"<% end %>><%= h(user.name) %></a></li>
<% end -%>
</ul>



<% if @kind == User::KIND_USER || @kind == User::KIND_GROUP %>
<ul>
<% if @showing_users -%>
  <li class="z__management_action"><a href="/do/admin/user/new?kind=<%= User::KIND_USER %>" target="workspace">New user</a></li>
<% else -%>
  <li class="z__management_action"><a href="/do/admin/user/new?kind=<%= User::KIND_GROUP %>" target="workspace">New group</a></li>
<% end -%>
</ul>
<% end %>
