<%
  @page_title = T(:Authentication_Title_Forgotten_password)
  @breadcrumbs = [:login]
-%>

<p><b><%= @locale.text(:Authentication_View_Step_3) %></b></p>

<p><%= @locale.text(:Authentication_View_The_link_you_clicked_was_not_a_valid___) %></p>

<ul>
  <li><%= @locale.text(:Authentication_View_If_the_link_was_split_into_multiple___) %></li>
  <li><%= @locale.text(:Authentication_View_You_submitted_more_than_one_change___) %></li>
  <li><%= @locale.text(:Authentication_View_The_link_you_used_has_expired_) %></li>
</ul>

<p><a href="/do/authentication/recovery"><%= @locale.text(:Authentication_View_Request_a_new_email_) %></a></p>
