<%
  @page_title = T(:Authentication_Title_Change_password)
  @breadcrumbs = [:account]
-%>

<p><%= @locale.text(:Authentication_View_Enter_your_current_password__then___) %> <%= @locale.text(:Authentication_Password_Requirement_Statement) %></p>

<%= render :partial => 'password_importance' %>

<% if @failed_change -%>
  <p><b style="color:red"><%= @locale.text(:Authentication_View_Password_not_changed_) %></b>
  <% if @bad_old %><br><%= @locale.text(:Authentication_View_The_old_password_entered_was___) %><% end %>
  <% if @not_match %><br><%= @locale.text(:Authentication_View_The_new_passwords_entered_did_not___) %><% end %>
  <% if @bad_new %><br><%= @locale.text(:Authentication_View_The_new_password_did_not_meet_minimum___) %> <%= @locale.text(:Authentication_Password_Requirement_Statement) %><% end %>
  </p>
<% end -%>

<form method="POST"><%= form_csrf_token %>

<p><%= @locale.text(:Authentication_View_Old_password) %><br>
<input type="password" name="old" value=""></p>

<p><%= @locale.text(:Authentication_View_New_password) %><br>
<input type="password" name="pw1" value=""></p>

<p><%= @locale.text(:Authentication_View_Re_enter_new_password_to_confirm) %><br>
<input type="password" name="pw2" value=""></p>

<p><input type="submit" value="<%= @locale.text(:Authentication_View_Change_password) %>"></p>

</form>
