<%
  @page_title = T(:Authentication_Title_Forgotten_password)
  @breadcrumbs = [:login]
-%>

<p><b><%= @locale.text(:Authentication_View_Step_3) %></b></p>

<p><%= @locale.text(:Authentication_View_Please_choose_a_new_password_) %> <%= @locale.text(:Authentication_Password_Requirement_Statement) %></p>

<%= render :partial => 'bad_password', :data_for_template => { :message => 'Password not changed.' } %>

<form method="POST"><%= form_csrf_token %>

<p><%= @locale.text(:Authentication_View_New_password) %><br>
<input type="password" name="password" value="" class="z__focus_candidate"></p>

<p><%= @locale.text(:Authentication_View_Re_enter_new_password_to_confirm) %><br>
<input type="password" name="password_2" value=""></p>

<p><input type="submit" value="<%= @locale.text(:Authentication_View_Change_password) %>"></p>

</form>

