<%
  @page_title = 'Enable features'
-%>
<%= sys_mng_header %>

<%
  if @do_edit
    %><form method="POST"><%= form_csrf_token %><%
    Setup_ApplicationController::ENABLE_FEATURES.each do |sym,name|
      %><p><label><input type="checkbox" name="<%= sym %>" value="1" <% if KApp.global_bool(sym) %> checked<% end %>><%= h(name) %></label></p><%
    end
    %><p><input type="submit" value="Save changes"></p><%

  else
    %><table class="z__mangement_kv_table">
      <%
        Setup_ApplicationController::ENABLE_FEATURES.each do |sym,name,security|
          enabled = KApp.global_bool(sym)
          %><tr><td><%= enabled ? 'Enabled' : 'Disabled' %></td><td><%= h(name) %>
          <% if security %><br>
            <% if enabled %>
              <b style="color:red">This feature should be disabled in applications processing sensitive information.</b>
            <% else %>
              <i>(should be disabled in applications processing sensitive information)</i>
            <% end %>
          <% end %>
          </td></tr><%
        end
      %>
    </table>
    <%= sys_mng_edit_button("/do/setup/application/feature-enable/edit") %><%

  end
%>
