<%
  @page_title = 'Enable features'
-%>
<%= sys_mng_header %>

<p class="z__management_notice">These features have security implications, and should be disabled in applications processing sensitive information.</p>

<%
  if @do_edit
    %><form method="POST"><%= form_csrf_token %><%
    Setup_ApplicationController::ENABLE_FEATURES.each do |sym,name|
      %><p><label><input type="checkbox" name="<%= sym %>" value="1" <% if KApp.global_bool(sym) %> checked<% end %>><%= h(name) %></label></p><%
    end
    %><p><input type="submit" value="Save changes"></p><%

  else
    %><table class="z__mangement_kv_table">
      <%
        Setup_ApplicationController::ENABLE_FEATURES.each do |sym,name|
          %><tr><td><%= KApp.global_bool(sym) ? '<span style="color:red">Enabled</span>' : 'Disabled' %></td><td><%= h(name) %></td></tr><%
        end
      %>
    </table>
    <%= sys_mng_edit_button("/do/setup/application/feature-enable/edit") %><%

  end
%>
