<%
  @page_title = @heading
  if @is_new_object == true
    # New object
    @breadcrumbs = [:new_obj]
  else
    # Edit existing object
    @breadcrumbs = [[object_urlpath(@object_to_edit), 'Cancel edit']]
  end
  client_side_resources(:object_editor)
  
  # Options for client side editor
  client_side_options = editor_client_side_options_and_plugins(@object_to_edit)
-%>

<% in_right_column render :partial => 'editor_labelling' %>

<form method="POST" id="z__keditor_form" action="/do/edit<% if params.has_key?(:id) %>/<%= h(params[:id]) %><% end %>"><%= form_csrf_token %>
  <div class="z__editor_buttons">
    <input type="submit" name="save" value="Preview" class="z__editor_buttons_preview"> <input type="submit" name="save" value="Save" class="z__editor_buttons_save">
  </div>
  <div class="z__editor_buttons_end"></div>
<%
  [:new, :parent, :pop].each do |k|
    if params.has_key?(k)
      %><input type="hidden" name="<%= k %>" value="<%= h(params[k]) %>"><%
    end
  end
  success_redirect = params[:success_redirect] || params[:then] # nice alias for URLs
  if success_redirect
    %><input type="hidden" name="success_redirect" value="<%= h(success_redirect) %>"><%
  end
-%>

</form>

<div id="z__keditor_data" data-type="<%= @editor_js_type %>" data-attr="<%= h(JSON.generate(@editor_js_attrs)) %>" data-opts="<%= h(client_side_options.to_json) %>"></div>
