<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= h(if @page_title != nil && @page_title != '' then @page_title.to_s + ' : ' else '' end) %><%= KApp.global(:product_name) %></title>
<%= render(:partial => 'shared/client_side_resources') -%>
</head>
  <body class="<% if webfonts_enabled? %>z__webfonts_enabled <% end %>z__minimal_layout z__page_wide_layout"<%= body_tag_data_attributes %>>
    <div id="z__page">
      <div id="z__ws_content">
        <%= @content_for_layout %>
      </div>
    </div>    
  </body>
</html>